table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 8px;
  text-align: center;
}

/* Queue: Example of pair queue for help */
dl dt {
  margin-top: 10px;
}

dl dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
